*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    padding: 0 20px;
}
header h1{
    font-size: 25px;
}
header > p{
    display: flex;
    flex-direction: column;
}
header button{
border-color: brown;
width: 100px;
height: 40px
}
main h3{
    text-align:center;
    color: lightcoral;
  padding-bottom: 20px;
}
 .section1{
    text-align:center;
    background-color: lightcoral;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.section2{
    text-align:center;
    background-color: lightcoral;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.section3{
    text-align:center;
    background-color: lightcoral;
    border-radius: 20px;
    padding: 30px;
    
}
.section4{
    text-align: center;
    background-color: lightcoral;
    border-radius: 2em;
    padding: 2em;
}
button{
    border-bottom: lightcoral;
    border-radius: 15px;
    width: 90px;
    padding: 5px;
    border-color:brown ;

}
button:hover{
    background-color: lightblue;
}
body span{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
footer{
    font-weight: lighter;
    text-align: center;
}
header h1 span{
    color: lightcoral;
}
h4{
    color: lightcoral;
    text-align: center;
    font-size: 20px;
    font-size: 30px;
}
i{
    color: lightcoral;
}


footer{
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.subtitle1{
   
    align-items: center;
}
.subtitle2{
   
    align-items: center;
}
.subtitle3{
    align-items: center;
}
#name{
    border-color: lightcoral;
    border-radius: 20px;
    height: 40px;
}
#mail{
    border-color: lightcoral;
    border-radius: 20px;
    height: 40px;
}

#textarea{
    border-color: lightcoral;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

.name{
    font-size: 20px;
    /* padding: 10px; */
}
.mail{
    font-size: 20px;
    /* padding: 10px;
    height: 1em; */
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.textarea{
    font-size: 20px
}
.forms-input{
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.about{
    display: flex;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: space-between;
}
main > section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main section h1{
    padding-top: 20px;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
